@import "../../../css/shared.scss";

#main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#query-container {
    display: flex;
    align-items: stretch;
    width: calc(100% - 10px*2);
    margin: 10px;
    gap: 10px;
}

#searchForm {
    flex: 1;
    padding: 0px;
    height: 50px;
    background-color: transparent;
}

#searchButton {
    height: 50px;
}

#refresh-button {
    position: fixed;
    bottom: $defaultMargin;
    right: $defaultMargin;
    opacity: 60%;
    background-color: black;
    height: 50px;
}

#more-icon {
    margin-right: $defaultMargin;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

#spinner-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#spinner {
}

#no-results-label {
}

.full-height {
    height: 100%;
}