@use "../../../css/shared.scss" as *;

#toolbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

button {
    margin: $defaultMargin;
    margin-left: 0;
}
