<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="opened=!opened">Menu</button>
        <span class="span">mldonkey-next</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <button>
            <a [routerLink]="['/home/download']">Download</a>
            <a [routerLink]="['/home/search']">Search</a>
            <a [routerLink]="['/home/servers']">Servers</a>
            <a [routerLink]="['/home/stats']">Statistics</a>
            <a [routerLink]="['/home/options']">Options</a>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>