@import "../../css/shared.scss";

mat-sidenav {
    margin: 0px;
}

mat-sidenav-container mat-sidenav {
    background-color: $dark2;
}

mat-sidenav-container {
    height: 100vh;
}

.menuButton {
    margin-right: $defaultMargin;
    background: transparent;
    border: 0px solid;
    padding: $defaultMargin $defaultMargin;
    color: $textColor;
}