@import "../../css/shared.scss";

$otherComponentHeight: 60px;

mat-sidenav {
    margin: 0px;
}

mat-sidenav-container mat-sidenav {
    background-color: $dark2;
}

mat-sidenav-container {
    position: fixed;
    bottom: 0;
    top: $otherComponentHeight;
    left: 0;
    right: 0;
}

mat-toolbar {
    height: $otherComponentHeight;
}

.menu-button {
    margin-right: $defaultMargin;
    border: 0px solid;
    padding: $defaultMargin $defaultMargin;
    color: $textColor;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#topbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#topbar-spacing {
    flex-grow: 1;
}

#version-column {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.version-string {
    font-size: small;
    margin: 0px;
    line-height: 20px;
}