<mat-toolbar>
    <mat-toolbar-row>
        <button class="menuButton" mat-button (click)="opened=!opened">
            <mat-icon>menu</mat-icon>
        </button>
        mldonkey-next
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <app-section-title [routerLinkValue]="['/home/download']"
            buttonText="Download"
            [iconDef]="faDownload">
        </app-section-title>
        <app-section-title [routerLinkValue]="['/home/search']"
            buttonText="Search"
            [iconDef]="faMagnifyingGlass">
        </app-section-title>
        <app-section-title [routerLinkValue]="['/home/servers']"
            buttonText="Servers"
            [iconDef]="faServer">
        </app-section-title>
        <app-section-title
            [routerLinkValue]="['/home/stats']"
            buttonText="Statistics"
            [iconDef]="faChartSimple">
        </app-section-title>
        <app-section-title
            [routerLinkValue]="['/home/options']"
            buttonText="Options"
            [iconDef]="faGears">
        </app-section-title>
        <app-section-title
            (click)="logout()"
            buttonText="Logout"
            [iconDef]="faDoorOpen">
    </app-section-title>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
