@import "../../css/shared.scss";

$otherComponentHeight: 60px;

mat-sidenav {
    margin: 0px;
}

mat-sidenav-container mat-sidenav {
    background-color: $dark2;
}

mat-sidenav-container {
    position: fixed;
    bottom: 0;
    top: $otherComponentHeight;
    left: 0;
    right: 0;
}

mat-toolbar {
    height: $otherComponentHeight;
}

.menuButton {
    margin-right: $defaultMargin;
    background: transparent;
    border: 0px solid;
    padding: $defaultMargin $defaultMargin;
    color: $textColor;
}