<div *ngFor="let e of this.statsService.elements.value | keyvalue">
    <p>{{ e.value.networkId }} {{ this.networkInfo(e.value.networkId)?.name }} {{ this.networkInfo(e.value.networkId)?.downloaded }}</p>
    <ul>
        <li *ngFor="let s of e.value.sessionStats">
            {{ s.name }} {{ s.uptime }}
            <ul>
                <li *ngFor="let c of s.stats">
                    {{ c.clientDescriptionLong }} {{ c.downloaded }}
                </li>
            </ul>
        </li>
    </ul>
</div>