@use "../../../css/shared.scss" as *;

.main-container {
    margin: $defaultMargin;
    margin-top: $defaultMargin;
}

.chart-div {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 1em;

    h1 {
        font-size: 2em;
        margin: 0;
    }
}

.plugged {
    color: $green-color;
}

.unplugged {
    color: $red-color;
}
