<div class="main-container">
    <h1>Bandwidth Stats</h1>
    <div echarts [ngClass]="{'chart-div': true, 'no-data': !this.isBandwidthDataAvailable()}" [options]="bandwidthChart" [autoResize]="true" [merge]="bandwidthChartMergeOption"></div>

    <mat-divider></mat-divider>
    
    <h1>Bandwidth History</h1>
    <div echarts [ngClass]="{'chart-div': true, 'no-data': !this.isBandwidthHDataAvailable()}" [options]="bandwidthHChart" [autoResize]="true" [merge]="bandwidthHChartMergeOption"></div>

    <mat-divider></mat-divider>
    
    <h1>Network Stats</h1>
    <table mat-table [dataSource]="this.networkSummaryDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="netName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let statElement; let isEven = even">
                {{ statElement.networkName }}
            </td>
        </ng-container>
        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef>Enabled</th>
            <td mat-cell *matCellDef="let statElement; let isEven = even">
                <div class="wrap-anywhere alternate-row-content"
                    [ngClass]="{'red-text': !statElement.enabled, 'green-text': statElement.enabled }">
                    {{ statElement.enabled ? "✓" : "✗" }}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="uptime">
            <th mat-header-cell *matHeaderCellDef>Uptime</th>
            <td mat-cell *matCellDef="let statElement; let isEven = even">
                <div class="wrap-anywhere alternate-row-content">
                    {{ statElement.uptimeSecs | prettySecsShort }}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="uploaded">
            <th mat-header-cell *matHeaderCellDef>Uploaded</th>
            <td mat-cell *matCellDef="let statElement; let isEven = even">
                <div class="wrap-anywhere alternate-row-content">
                    {{ statElement.uploadedBytes | prettyBytes }} ({{ statElement.uploadedPerc }}%)
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="downloaded">
            <th mat-header-cell *matHeaderCellDef>Downloaded</th>
            <td mat-cell *matCellDef="let statElement; let isEven = even">
                <div class="wrap-anywhere alternate-row-content">
                    {{ statElement.downloadedBytes | prettyBytes }} ({{ statElement.downloadedPerc }}%)
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['netName', 'uptime', 'uploaded', 'downloaded']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['netName', 'uptime', 'uploaded', 'downloaded'];"></tr>
    </table>
    <br/>
    <div id="usage-by-network-div" class="chart-div" echarts [options]="usageByNetworkChart" [autoResize]="true" [merge]="usageByNetworkChartMergeOption"></div>
</div>