@import '../css/shared.scss';

@mixin centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#full-screen-container {
    @include centered-container();
    width: 100%;
    height: 100%;
}

.full-screen-row {
    width: 100%;
}

.center-text {
    text-align: center;
}

.login-container {
    @include centered-container();
    max-width: 600px;
    width: calc(100% - 2*30px - 2*30px);
    padding: 30px;
    gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    margin-right: $defaultMargin;
}

.copyright {
    position: absolute;
    bottom: $defaultMargin;
    left: $defaultMargin;
    margin: 0;
}

#divider {
    width: 100%;
    height: 1px;
}