@use "../../../css/shared.scss" as *;

$sectionButtonHeight: 50px;

.sectionButton {
    background: $dark2;
    border: 0px solid;
    padding: 15px 30px;
    color: white;
    margin: 0px;
    height: 50px;
    font-size: $sectionFontSize;
}

.container:hover {
    filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $dark2;
    padding: 0px;
}

.margin {
    width: 10px;
}

.element1 {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: $sectionFontSize;
    height: $sectionFontSize;
}

fa-icon {
    font-size: $sectionFontSize;
}
