$dark2: #303030;

$sectionFontSize: 21px;
$defaultMargin: 10px;
$textColor: white;
$green-color: green;
$red-color: red;
$primary-color: #c1175a;
$disabled-opacity: 0.6;
$download-color: $green-color;
$upload-color: #335ddc;

.wrap-anywhere {
    word-break: break-all;
}

.table-mobile-td {
    padding: $defaultMargin;
}

.red-text {
    color: $red-color;
}

.green-text {
    color: $green-color;
}
