<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!this.uiService.mobileLayout.value">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let option; let isEven = even" [ngClass]="{'alternate': isEven }">
            <b>{{ computeDescription(option) }}</b>
        </td>
    </ng-container>
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let option; let isEven = even" [ngClass]="{'alternate': isEven }">
            <mat-form-field
                *ngIf="isString(option) || isInteger(option) || isIp(option) || isBool(option) || isFloat(option) || isStringList(option)"
                subscriptSizing="dynamic">
                <input matInput type="text" *ngIf="isString(option)" [value]="option.currentValue" />
                <input matInput type="text" *ngIf="isIp(option)" mask="IP" [ngModel]="option.currentValue" />
                <input matInput type="number" *ngIf="isInteger(option)" [value]="option.currentValue" />
                <input matInput type="number" *ngIf="isFloat(option)" [value]="option.currentValue" />
                <mat-chip-grid #chipGrid *ngIf="isStringList(option)" aria-label="Enter items">
                    <mat-chip-row *ngFor="let v of this.computeList(option)" [editable]="true"
                        (removed)="removeItem(v, option)" (edited)="editItem($event, v, option)"
                        [aria-description]="'press enter to edit ' + v">
                        {{v}}
                        <button matChipRemove [attr.aria-label]="'remove ' + v">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <input placeholder="New item..." [matChipInputFor]="chipGrid"
                        (matChipInputTokenEnd)="addItem($event, option)" />
                </mat-chip-grid>
                <mat-select *ngIf="isBool(option)" [value]="option.currentValue.toLowerCase()">
                    <mat-option value="true">true</mat-option>
                    <mat-option value="false">false</mat-option>
                </mat-select>
            </mat-form-field>
            <p>{{ option.help }}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="default">
        <th mat-header-cell *matHeaderCellDef>Default</th>
        <td mat-cell *matCellDef="let option; let isEven = even" [ngClass]="{'alternate': isEven }">
            {{ option.defaultValue }}
        </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let option; let isEven = even" [ngClass]="{'alternate': isEven }">
            {{ option.type }}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'value', 'default', 'type']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'value', 'default', 'type'];"></tr>
</table>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="this.uiService.mobileLayout.value">
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Entry</th>
        <td mat-cell *matCellDef="let option; let isEven = even" [ngClass]="{'alternate': isEven }">
            <p class="title"><b>{{ computeDescription(option) }}</b></p>
            <mat-form-field subscriptSizing="dynamic">
                <input matInput type="text" *ngIf="isString(option)" [value]="option.currentValue" />
            </mat-form-field>
            <p><b>Default</b>: {{ option.defaultValue }}</p>
            <p><b>Type</b>: {{ option.type }}</p>
            <p>{{ computeHelp(option) }}</p>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['value']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['value'];"></tr>
</table>