@use "../../../css/shared.scss" as *;

th {
    font-weight: bold;
}

#centered-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#centered-label {
    margin: auto;
    text-align: center;
}
