@import "../../../css/shared.scss";

.title {
    display: flex;
    align-items: center;
    gap: $defaultMargin;
    margin: $defaultMargin;
}

.title-child {
    height: 100%;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

th {
    font-weight: bold;
}
