<h1 mat-dialog-title>About mldonkey-next</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div class="container">
        <div class="left-column">
            <img id="logo" src="../../../../assets/icon.svg">
        </div>
        <div class="right-column">
            <h2>mldonkey-next {{ this.version }} (<a target="_blank"
                    [href]="'https://github.com/carlonluca/mldonkey-next/tree/' + this.buildInfo.git.hash">{{
                    this.buildInfo.git.hash }}</a>)</h2>
            <p>Author: <b>Luca Carlon (<a target="_blank"
                        href="https://bugfreeblog.duckdns.org">https://bugfreeblog.duckdns.org</a>)</b></p>
            <br />
            <p>Based on Angular version <b>{{ this.angularVersion }}</b></p>
            <p>Built on <b>{{ this.buildInfo.timestamp }}</b></p>
            <p>Built by <b>{{ this.buildInfo.git.user }}</b> from <b>{{ this.buildInfo.git.branch }}</b> hash <b>{{
                    this.buildInfo.git.hash }}</b></p>
            <br />
            <p>mldonkey-next is released under the <a target="_blank"
                    href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3 license</a>.</p>
            <br />
            <p>For the changelog and more info on mldonkey-next: <a target="_blank"
                    href="https://bugfreeblog.duckdns.org/mldonkey-next">https://bugfreeblog.duckdns.org/mldonkey-next</a>.
            </p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>