<div class="title">
    <fa-icon class="title-child" [icon]="this.faServer"></fa-icon>
    <h2 class="title-child">Servers</h2>
</div>

<!-- Desktop table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="!this.uiService.mobileLayout.value"
    (matSortChange)="onSortChange($event)">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled="true">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let server; let isEven = even" [ngClass]="{'alternate-row': isEven }">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="countrycode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let server; let isEven = even" [ngClass]="{'alternate-row': isEven, 'flag-image': true }">
            <img [src]="this.getFlagSVG(server)" class="flag-image alternate-row-content">
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let server; let isEven = even" [ngClass]="{'alternate-row': isEven }">
            <div class="filename-element alternate-row-content">{{ server.serverName }}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="addr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let server; let isEven = even" [ngClass]="{'alternate-row': isEven }">
            <div class="filename-element alternate-row-content">{{ buildAddress(server) }}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let server; let isEven = even" [ngClass]="{'alternate-row': isEven }">
            <div class="filename-element alternate-row-content" [ngClass]="{'connected': this.isConnected(server)}">{{ this.getHostConnStateDescription(server.hostState?.connState) }}</div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Mobile table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="this.uiService.mobileLayout.value">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled="true">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let server; let isEven = even" [ngClass]="{'alternate-row': isEven }">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let server; let isEven = even"
            [ngClass]="{'alternate-row': isEven, 'table-mobile-td': true }">
            <div class="wrap-anywhere alternate-row-content"  [ngClass]="{'connected': this.isConnected(server)}">
                <b>{{ this.getFlagUnicode(server) }} {{ server.serverName }}</b><br />
                {{ this.buildAddress(server) }} {{ this.getHostConnStateDescription(server.hostState?.connState, true) }}
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
