<div id="log-view" appScrollToBottom #scrollContainer (wheel)="onScroll($event)" class="scroll-container">
    <div id="toolbar">
        <button mat-fab extended [disabled]="this.isAtTop()" (click)="this.scrollToTop()">
            <fa-icon [icon]="faArrowUp"></fa-icon>
        </button>

        <button mat-fab extended [disabled]="this.follow" (click)="this.doFollow()">
            <fa-icon [icon]="faPersonWalkingArrowRight"></fa-icon>
        </button>
    </div>
    <div #contentSection class="content-section">
        <ng-content></ng-content>
    </div>
</div>
