<div id="container">
    <div id="scrollable-container" appScrollToBottom #scrollContainer #contentSection (wheel)="onScroll($event)">
        <ng-content></ng-content>
    </div>
    <div id="toolbar">
        <button mat-fab extended [disabled]="this.isAtTop()" (click)="this.scrollToTop()">
            <fa-icon [icon]="faArrowUp"></fa-icon>
        </button>

        <button mat-fab extended [disabled]="this.follow" (click)="this.doFollow()">
            <fa-icon [icon]="faPersonWalkingArrowRight"></fa-icon>
        </button>
    </div>
</div>